body{
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden; 
}

a {
  color:#ffffff;
}

.greybackground{
  background: #B0B0B0;
}

.whitebackground{
  background:white;
}

.blackbackground{
  background: black;
}


.mid{
  text-align: center;
}


.display-container{
  position: relative;
}

.content{
  max-width: 980px;
  margin:auto;
}

.display-middle{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}

.display-top{
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}


.large-padding{
  padding:16px 32px;
}


.border{
  border: 1px solid #f1f1f1; 
}

.text-align-center{
  text-align:center;
}

.text-image-center{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}


.hide-medium{
  display: none;
}

.resize{
  width:1000px;
}

.ele-to-right{
  float: right;
}

.vh-mid{
  line-height: 50px;
}

.navbar{
  height: 30px;
}

.navbar-fixed-topp{
  top:0;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  background-color: #000000;
  min-height: 50px;
  margin-bottom: 0px;
}


.inline{
  display: inline;
}



.parallaxpic{
  height:100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;   
}



.sub-heading-padding{
  padding: 150px 0px;
}

.zero-padding{
  padding: 0px;
}

.zero-margin{
  margin: 0px 0px 0px 0px;
}

.zero-border{
  border: 0px;
}

.align-images-mid{
  text-align: center;
}

.subparallax{
  background-attachment: fixed;
  height:80vh;
  background-repeat: no-repeat;
}

.parallaxwordpadding{
  padding: 225px 0px 0px 0px;
}

.contactmepadding{
  padding: 15px 0px 25px 0px;
}

.footer-padding{
  padding-bottom: 20px; 
}
